aacgmv2==2.7.0
about-time==4.2.1
aiapy==0.10.1
aidapy==0.0.4
aioboto3
aiobotocore==2.24.0
aiofiles>=23.2.1
aiohappyeyeballs>=2.5.0
aiohttp>=3.9.2,<4.0.0,!=4.0.0a0,!=4.0.0a1
aioitertools>=0.5.1,<1.0.0
aiosignal>=1.4.0
alabaster>=0.7.14
alembic
alive-progress
amisrsynthdata==1.1.8
aniso8601>=0.82
antlr4-python3-runtime==4.7
anyio>=4.4.0,<5.0.0
apexpy==2.1.0
appdirs>=1.4.4
argon2-cffi-bindings
argon2-cffi>=21.1
asdf-astropy>=0.8.0
asdf-coordinates-schemas>=0.4
asdf-standard>=1.1.0
asdf-transform-schemas>=0.6
asdf-wcs-schemas>=0.5.0
asdf>=3.3.0
asilib==0.26.5
asteval>=1.0
astrometry-azel==1.3.0
astropy-iers-data>=0.2025.4.28.0.37.27
astropy==6.1.7
astroquery
asttokens>=2.1.0
async-lru>=1.0.0
attrs>=22.2.0
babel>=2.13
backports.tarfile
beautifulsoup4>=4.9.3
bleach!=5.0.0
blinker>=1.9.0
blosc2>=2.3.0
bokeh>=1.1
boto3>=1.35.26
botocore>=1.39.9,<1.39.12
bottleneck
cartopy>=0.24.0,<0.25.0
ccsdspy==1.4.2
cdasws>=1.7.24
cdflib==1.3.6
certifi>=2017.4.17
cffi>=1.14
cftime
charset-normalizer>=2,<4
click>=8.1.3,<9.0.0
cloudcatalog==1.1.0
cloudpickle>=3.0.0
cmasher
colorspacious>=1.1.0
comm>=0.1.3
configparser
contourpy>=1.2
cryptography>=41.0.5,<46,!=3.4.0
csaps
cycler>=0.10
cython
dascutils==2.3.0
dask>=2023.2.0
dbprocessing==0.1.0
debugpy>=1.6.5
decorator>=4.4.2
deepdiff==8.6.1
defusedxml
dill>=0.4.0
diskcache
dkist>=1.15.0
dmsp==0.6.0
docutils>=0.20,<0.22
drms
enlilviz==0.2.0
EUVpy==1.0.0
execnet>=2.1
executing>=1.2.0
expression
extension
fastjsonschema>=2.15
ffmpeg-python
fiasco==0.6.1
flask-cors
flask-restful==0.3.8
flask==1.1.2
fonttools>=4.22.0
fortranformat>=2
frozenlist>=1.1.1
fsspec==2025.9.0
future
gcmprocpy==1.2.1
geomag
geomagindices>=1.4.0
geopack==1.0.12
georinex==1.16.2
geospacelab==0.11.4
gfz-api-client
globus-sdk>=3.0
goesutils==1.0.8
graphemeu==0.7.2
greenlet>=1,!=0.4.17
gridaurora
gwcs>=0.24.0
h11>=0.13,<0.15
h5netcdf
h5py>=3.11.0,<4.0.0
hapiclient==0.2.6
hapiplot==0.2.2
hatanaka
heliopy-multid
heliopy==0.15.4
hissw==2.3
html5lib>=0.999
httpcore>=1.0.4,<2.0.0
httpx-ws>=0.7.1,<0.8.0
httpx>=0.25.0,<1
humanize>=4.4.0,<5.0.0
hydra-core==0.11.3
hypothesis==6.138.14
idna>=2.8,<4
igrf==13.0.2
imageio>=2.33,!=2.35.0
imagesize>=1.3
importlib-metadata>=4.13.0
importlib-resources
incremental
iniconfig>=1
ipykernel>=6.5.0,!=6.30.0
ipympl
ipython-pygments-lexers
ipython>=7.23.1,<10
ipywidgets>=7.6.0,<9
iri2016==1.11.1
irispy-lmsal==0.4.0
isodate>=0.6.0
itsdangerous>=2.2.0
jaraco.classes
jaraco.context
jaraco.functools
jedi>=0.16
jeepney>=0.6
jinja2>=3.1.2
jmespath>=0.7.1,<2.0.0
joblib>=1.2.0
json5>=0.9.0
jsonschema-specifications>=2023.03.6
jsonschema>=4.18.0
jupyter-client>=8.0.0
jupyter-core>=4.12,!=5.0
jupyter-events>=0.11.0
jupyter-lsp>=2.0.0
jupyter-server-terminals>=0.4.4
jupyter-server>=2.4.0,<3
jupyterlab-pygments
jupyterlab-server>=2.27.1,<3
jupyterlab-widgets>=3.0.15,<3.1
jupyterlab>=4.4.5,<4.5,!=4.1.0
kaipy==1.1.2
# kamodo==23.3.0  # gets installed from GitHub instead
keyring>=25.5.0
kiwisolver>=1.3.1
lazy-loader>=0.4
llvmlite>=0.43.0dev0,<0.44
lmfit>=1.1
locket
lofarSun==0.3.32
lowtran==3.1.0
lxml>=4.8.0
madrigalWeb==3.3.3
madrigalweb>=3.3
maidenhead==1.8.0
mako
markdown-it-py>=3.0,<4
markdown>=3.0.1
markupsafe>=2.1.1
matplotlib-inline>=0.1
matplotlib>=3.9.0,<4.0,!=3.10.3,!=3.6.1,!=3.7.1
mcalf==1.0.0
mdit-py-plugins>=0.4.1,<1
mdurl>=0.1,<1
mistune>=2.0.3,<4
more-itertools
mpl-animators>=1.2.3
mplcursors
mpmath>=1.3
msgpack
msise00==1.11.1
multidict>=6.0.0,<7.0
multiprocess>=0.70.18
myst-parser
narwhals>=1.15.1
natsort>=7.1.1
nbclient>=0.5.0
nbconvert>=6.4.4
nbformat>=5.7
ncompress
ndcube==2.3.2
ndindex
nest-asyncio>=1.4
netcdf4>=1.6.2
networkx>=3.0
nexradutils==1.0.0
notebook
notebook-shim>=0.2,<0.3
numba==0.60.0
numexpr>=2.6.2
numpy>=1.26.4,<2.0.0,!=1.24.0
nvidia-nccl-cu12
ocbpy==0.6.0
omegaconf>=1.4,<1.5
OMMBV==1.1.0
opencv-python>=4.8.0,<5.0
orderly-set>=5.4.1,<6
orjson
overrides>=5.0
packaging>=24.1
palettable
pandas>=2.2.3
pandocfilters>=1.4.1
parfive>=2.2.0
parso>=0.8.4,<0.9.0
partd>=1.4.0
pathlib2
pathos>=0.2.5
pexpect>4.3
pillow>=10.1
plasmapy==2025.8.0
platformdirs>=3.0
plotly
pluggy>=1.5,<2
portalocker
pox>=0.3.6
ppft>=1.7.7
progressbar
progressbar2>=4.2.0,<5
prometheus-client>=0.9
prompt-toolkit>=3.0.41,<3.1.0
propcache>=0.2.1
psutil>=5.7
ptyprocess>=0.5
pure-eval
py-cpuinfo
pyaurorax==1.19.0
pycapnp
pycdfpp==0.8.0
pycparser
pycrdt-websocket>=0.15.4,<0.16.0
pycrdt>=0.12.13,<0.13.0
pydarn==4.1.2
pydarnio>=1.3.0,<1.4
pyerfa>=2.0.1.1
pyflct==0.3.1
pygam
pygithub
pygments>=2.17,<3.0.0
pyhc-core[tests]==0.0.6
pyistp>=0.7.0
pyjwt>=2.4.0,<3.0.0
pymap3d==3.2.0
pynacl>=1.4.0
pyopenssl
pyparsing>=2.3.1
pyproj>=3.7.0,<4.0.0
pyqt5-qt5>=5.15.2,<5.16.0
pyqt5-sip>=12.15,<13
pyqt5>=5.15.4
pyqtgraph>=0.11.1
pyqtwebengine-qt5>=5.15.0,<5.16.0
pyqtwebengine>=5.15.2
pyrfu==2.4.17
pysat==3.2.2
pyshp>=2.3
pyside6-addons==6.9.0
pyside6-essentials==6.9.0
pyside6-qtads==4.4.0
pyside6==6.9.0
pyspedas==1.7.28
pytest-arraydiff==0.6.1
pytest-doctestplus==1.4.0
pytest-xdist==3.8.0
pytest>=7.0.0
python-casacore
python-dateutil>=2.9.0,<3.0.0
python-forge
python-json-logger>=2.0.4
python-utils>=3.8.1
# pytplot-mpl-temp==2.2.79  # pySPEDAS controls PyTplot installation
# pytplot==1.7.28  # pySPEDAS controls PyTplot installation
pytz>=2020.1
pyucalgarysrs==1.23.3
pyvo>=1.5
pywavelets
pyyaml>=6.0.0
pyzenodo3==1.0.2
pyzmq>=25
pyzstd
qasync
qtconsole
qtpy>=2.4.0
reesaurora==1.0.5
referencing>=0.31.0
rego-imager-readfile>=1.2.0,<2.0
regularizepsf==1.1.0
requests-file>=1.5.1
requests-toolbelt>=0.7.1
requests>=2.32.0,<3.0.0
rfc3339-validator
rfc3986-validator>=0.1.1
rich>=13.0
roman-numerals-py>=1.0.0
rpds-py>=0.7.1
s3fs
s3transfer>=0.13.0,<0.14.0
sammi-cdf==1.0.2
savic==1.1.0
sciencedates==1.5.0
scikit-image>=0.20.0
scikit-learn>=1.2.0
scipy>=1.14.1,<1.15.0,!=1.10.0
SciQLop==0.9.4
sciqlopplots==0.15.1
seaborn
secretstorage>=3.2
semantic-version>=2.8
send2trash>=1.8.2
sep
setuptools-scm==9.2.0
setuptools>=66
shapely>=2.0
shiboken6==6.9.0
six>=1.9
SkyWinder==0.0.3
slack-sdk
sniffio>=1.1
snowballstemmer>=2.2
solarmach==0.5.1
solo-epd-loader==0.4.3
sortedcontainers>=2.1.0,<3.0.0
soupsieve>1.2
space-packet-parser==6.0.0
spacepy==0.7.0
speasy==1.5.2
sphinx-rtd-theme
sphinx>=7,<9
sphinxcontrib-applehelp>=1.0.7
sphinxcontrib-autoprogram
sphinxcontrib-devhelp>=1.0.6
sphinxcontrib-htmlhelp>=2.0.6
sphinxcontrib-jquery>=4,<5
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.6
sphinxcontrib-serializinghtml>=1.1.9
spiceypy==6.0.0
sqlalchemy-utils>=0.37.8
sqlalchemy>=1.4.0,<2
sqlite-anyio>=0.2.3,<0.3.0
sscws
stack-data
streamtracer>=2.2.0
sunkit-image==0.6.1
sunkit-instruments==0.6.2
sunkit-magex
sunpy==7.0.1
sunraster==0.6.1
supermag-api
swxsoc==0.2.2
sympy==1.5.1
tables>=3.8.0
termcolor>=2.0.1
terminado>=0.8.3
texttable>=1.6.4,<2.0.0
themis-imager-readfile>=1.2.1,<2.0
themisasi==1.2.0
threadpoolctl>=3.1.0
tifffile>=2022.8.12
toml
toolz>=0.10.0
tornado>=6.2
tqdm>=4.66.0,<5.0.0
traitlets>=5.13.0,<6,!=5.2.1,!=5.2.2
trex-imager-readfile>=1.5.1,<2.0
tscat-gui>=0.4.0,<0.5.0
tscat>=0.4.0,<0.5.0
typing-extensions>=4.13.2
tzdata>=2022.7
ujson>=5.0,<6.0
uncertainties>=3.2.2
urllib3>=1.26.16,<3,!=2.2.0
viresclient==0.13.0
wcwidth
webencodings
websocket-client>=1.7
werkzeug>=3.1.0
wget>=3.2
wheel
widgetsnbextension>=4.0.14,<4.1
wmm2015==1.1.1
wmm2020==1.1.1
wrapt>=1.15,<2.0.0
wsproto
xarray==2024.10.0
xgboost>=1.7.2
xyzservices>=2021.09.1
yarl>=1.17.0,<2.0
zeep
zipp>=3.20